/* styles.css */
body {
  margin: 0;
  padding-top: 0px; /* space for the fixed navbar */
}

.navbar {
  top: 0;
  left: 0;
  width: 100%;
  background-color: #333333;
  display: flex;
  position: sticky;
  align-items: center;  
  height: 45px; 
  z-index: 1000;
}


.innernav {        
  width: 50%;       
  left: 25%;
  height: 45px;
  position: relative;
  align-items: center;  
  display: flex; 
}

.navitem {        
  display: flex; 
  color: white;
  width: 50%;     
  left: 0;           
  height: auto;
  text-align: center;

}



.body{
  display: grid;
  position: relative;
  grid-template-columns: 1fr 1fr 30px repeat(3,1fr);
  grid-template-rows: 1fr 20px repeat(14,1fr);
  height: 1600px;
  width: 1000px;
  margin: 45px auto 0;      


}

.bodyname{
  grid-row: 1 / 2; 
  grid-column: 1 / 5; 
  color:black;
  display: grid;
  font-size: 32px;
  place-content: end space-between;
}

.bodypic{
  grid-column: 1 / 3;
  grid-row: 3 / 7;  
  color:red;
}
.img{
  width: 80%;
  height: 100%;
}

.bodyrighttextTitle{
  grid-row: 3 / 7;
  grid-column: 4 / 7;
  align-self: start;
  font-size: 32px;
  font-weight: 700;

}

.bodyrighttextEmp{
 
  grid-row: 3 / 4;
  grid-column: 4 / 7;
  font-size: 18px;

}

.bio{
  grid-row: 7 / 8;
  grid-column: 1 / 7;
  font-size: 24px;
  font-weight: 700;
  align-self: end;
}

.bioinfo{
  grid-row: 8 / 10;
  grid-column: 1 / 7;
  font-size: 18px;
}

.nobold{
  font-weight: normal;
}

.bodyrighttextEdu{
  grid-row: 4 / 5;
  grid-column: 4 / 7;
  align-self: start;
  font-size: 26px;
  font-weight: 700;
}

.bodyrighttextCS{
 
  grid-row: 4 / 5;
  grid-column: 4 / 7;
  font-size: 18px;

}

.bodyrighttextContact{
  grid-row: 5 / 6;
  grid-column: 4 / 7;
  align-self: start;
  font-size: 20px;
  font-weight: 700;

}

.bodyrighttextConinf{
  grid-row: 5 / 6;
  grid-column: 4 / 7;
  font-size: 14px;

}

.bodyrighttextLinks{
  grid-row: 6 / 7;
  grid-column: 4 / 7;
  align-self: center;
  font-size: 14px;
  font-weight: 700;

}

.bodyrighttextLinkin{
  grid-row: 6 / 7;
  grid-column: 4 / 7;
  align-self: end;
  font-size: 14px;

}
.circle-link {
  display: inline-block; /* Or block */
  width: 30px;         /* Set your desired size */
  height: 30px;        /* Must be same as width for a perfect circle */
  border-radius: 50%;   /* Makes it circular */
  overflow: hidden;     /* Hides parts of image outside the circle */
  text-decoration: none; /* Removes underline from link */
  box-shadow: 0 4px 8px rgba(0,0,0,0.2); /* Optional: Add a subtle shadow */
}

.circle-link img {
  width: 100%;
  height: 100%;
  object-fit: cover; /* Crops image nicely to fit circle */
  display: block;    /* Removes extra space below image */
}
.navitemright{
  justify-content: flex-end;
  width: 50%;               
  height: auto;
  text-align: right;


}

.spacer {
      height: 2000px; /* This creates scrollable space */
      background-color: #f0f0f0;
    }
.navbar a {
  color: white;
  text-decoration: none;
  margin: 0 15px;
}
